
dotBattlelog/bin/*
dotBattlelog/dotBattlelogTest/bin/*
dotBattlelog/dotBattlelogTest/*
dotBattlelog/obj/*
dotFlex4/FluorineFx.Hosting/obj/*
dotFlex4/FluorineFx.ServiceBrowser/obj/*
dotFlex4/FluorineFx.WCF/obj/*
dotGoodgame/obj/*
dotGoodgame/bin/*
dotIRC/obj/*
dotJson/Doc/*
dotJson/Src/Newtonsoft.Json.Tests/*
dotIRC/bin/*
dotJson/Tools/*
dotSC2TV/bin/*
dotSC2TV/obj/*
dotSkype/bin/*
dotSkype/obj/*
dotTwitchTV/bin/*
dotTwitchTV/obj/*
dotXSplit/dotXSplit/bin/*
dotXSplit/dotXSplit/obj/*
dotXSplit/testXSplit/bin/*
dotXSplit/testXSplit/obj/*

#ignore thumbnails created by windows
Thumbs.db
#Ignore files build by Visual Studio
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
