
dotBattlelog/bin/*
dotBattlelog/dotBattlelogTest/bin/*
dotBattlelog/dotBattlelogTest/*
dotBattlelog/obj/*
dotFlex4/FluorineFx.Hosting/obj/*
dotFlex4/FluorineFx.ServiceBrowser/obj/*
dotFlex4/FluorineFx.WCF/obj/*
dotGoodgame/obj/*
dotGoodgame/bin/*
dotIRC/obj/*
dotJson/Doc/*
dotJson/Src/Newtonsoft.Json.Tests/*
dotIRC/bin/*
dotJson/Tools/*
dotSC2TV/bin/*
dotSC2TV/obj/*
dotSkype/bin/*
dotSkype/obj/*
dotTwitchTV/bin/*
dotTwitchTV/obj/*
dotXSplit/dotXSplit/bin/*
dotXSplit/dotXSplit/obj/*
dotXSplit/testXSplit/bin/*
dotXSplit/testXSplit/obj/*
dotFlex4/FluorineFx/obj/*
