<?xml version="1.0"?>
<configuration>
<configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
        <section name="Ubiquitous.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
    <userSettings>
        <Ubiquitous.Properties.Settings>
            <setting name="SteamAdmin" serializeAs="String">
                <value />
            </setting>
            <setting name="SteamBot" serializeAs="String">
                <value />
            </setting>
            <setting name="TwitchUser" serializeAs="String">
                <value />
            </setting>
            <setting name="Sc2tvUser" serializeAs="String">
                <value />
            </setting>
            <setting name="SteamBotPassword" serializeAs="String">
                <value />
            </setting>
            <setting name="TwitchPassword" serializeAs="String">
                <value />
            </setting>
            <setting name="Sc2tvPassword" serializeAs="String">
                <value />
            </setting>
            <setting name="SteamBotAccessToken" serializeAs="String">
                <value />
            </setting>
            <setting name="SteamAdminId" serializeAs="String">
                <value />
            </setting>
            <setting name="sc2tvSanitizeSmiles" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="twitchSendStatus" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="twitchBitrateAlarm" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="twitchBitrateCriticalValue" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="skypeSkipGroupMessages" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="sc2tvPersonalizedOnly" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="twitchPersonalizedOnly" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="skypeEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="sc2tvEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="twitchEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="steamEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="steamChatAlias" serializeAs="String">
                <value>@stm</value>
            </setting>
            <setting name="twitchChatAlias" serializeAs="String">
                <value>@ttv</value>
            </setting>
            <setting name="sc2tvChatAlias" serializeAs="String">
                <value>@sc2</value>
            </setting>
            <setting name="skypeChatAlias" serializeAs="String">
                <value>@sky</value>
            </setting>
            <setting name="goodgameEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="goodgameChatAlias" serializeAs="String">
                <value>@gg</value>
            </setting>
            <setting name="goodgamePersonalizedOnly" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="twitchLeaveJoinMessages" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="goodgameLeaveJoinMessages" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="goodgameSanitizeSmiles" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="goodgameUser" serializeAs="String">
                <value />
            </setting>
            <setting name="goodgamePassword" serializeAs="String">
                <value />
            </setting>
            <setting name="goodgameLoadHistory" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="sc2LoadHistory" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="battlelogEmail" serializeAs="String">
                <value />
            </setting>
            <setting name="battlelogChatAlias" serializeAs="String">
                <value>@bbl</value>
            </setting>
            <setting name="battlelogPassword" serializeAs="String">
                <value />
            </setting>
            <setting name="battlelogShowFeedEvents" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="battlelogEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="battlelogNick" serializeAs="String">
                <value />
            </setting>
            <setting name="gohaChatAlias" serializeAs="String">
                <value>@gtv</value>
            </setting>
            <setting name="GohaUser" serializeAs="String">
                <value />
            </setting>
            <setting name="GohaPassword" serializeAs="String">
                <value />
            </setting>
            <setting name="gohaSendStatus" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="gohaPersonalizedOnly" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="gohaLeaveJoinMessages" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="gohaEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="GohaIRCChannel" serializeAs="String">
                <value />
            </setting>
            <setting name="enableXSplitStats" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="enableStatusServer" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="gohaStreamControl" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="gohaStreamControlOnStartExit" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="empireEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="empireAlias" serializeAs="String">
                <value>@etv</value>
            </setting>
            <setting name="empireUser" serializeAs="String">
                <value />
            </setting>
            <setting name="empirePassword" serializeAs="String">
                <value />
            </setting>
            <setting name="empireSendStatus" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="empirePersonalizedOnly" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="empireLeavJoinMessages" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="empireLoadHistory" serializeAs="String">
                <value>False</value>
            </setting>
        </Ubiquitous.Properties.Settings>
    </userSettings>
</configuration>
